.description-categorie {
  position: relative;
}

.cadre {
  z-index: 1;
  position: absolute;
  bottom: 10rem;
  right: 15rem;
  width: 10%;
  height: 10%;
  background-color: #875af8;
  // transform: scale(0.7);
  // width: 100%;
  // height: 100%;
  // clip-path: polygon(
  //   0% 0%,
  //   100% 0%,
  //   100% 75%,
  //   75% 75%,
  //   75% 100%,
  //   50% 75%,
  //   0% 75%
  // );
}
.sticker-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticker {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 9rem;
  height: 9rem;
  padding: 1rem;
  border-radius: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.sticker.gauche {
  left: 5%;
  transform: rotate(-50deg);
}

.sticker.droite {
  right: 5%;
  transform: rotate(50deg);
}

.image-categorie {
  text-align: center;
}

.image-categorie > img {
  width: 50%;
  height: auto;
}

.sticker p {
  text-align: center;
  color: black;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.sticker .pli {
  content: "";
  display: block;
  width: 10rem;
  height: 10rem;
  position: absolute;
  right: -6em;
  top: -6em;
  border-radius: 100%;
  background: linear-gradient(
    -135deg,
    transparent 11.3em,
    #feeba7 10em,
    #feeba7 10em,
    #feeba7 85%
  );
}

.sticker.jaune {
  background: rgb(255, 215, 7);
  background: linear-gradient(
    -135deg,
    transparent 2.82em,
    rgb(255, 215, 7) 0,
    rgb(255, 215, 7)
  );
}
