.erreur404-conteneur {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.erreur404-conteneur .image-erreur404 {
  display: none;
}

.texte-contenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  text-align: center;
}

.texte-contenu button a {
  text-decoration: none;
}

.afficher_categorie-erreur404 {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.afficher_categorie-erreur404 a {
  background-color: #65008e;
  text-decoration: none;
  padding: 0.3rem;
}

@media (min-width: 700px) {
  .erreur404-conteneur .image-erreur404 {
    display: block;
    width: 450px;
    height: 450px;
  }
}
