.expo {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.expo img {
  width: 50%;
  filter: hue-rotate(265deg);
}

.expo img:hover {
  animation: illuminer-image 3s ease-in-out alternate-reverse infinite,
    agrandir-image 3s ease-in-out alternate-reverse infinite;
}

@keyframes illuminer-image {
  from {
    filter: hue-rotate(265deg);
  }

  50% {
    filter: drop-shadow(16px 16px 20px hsl(var(--j1), 96%, 51%))
      hue-rotate(265deg);
  }

  to {
    filter: hue-rotate(265deg);
  }
}

@keyframes agrandir-image {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
