.expo {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.expo img {
  width: 50%;
  filter: hue-rotate(265deg);
}

.expo img:hover {
  animation: illuminer-image 3s ease-in-out alternate-reverse infinite,
    agrandir-image 3s ease-in-out alternate-reverse infinite;
}

@keyframes illuminer-image {
  from {
    filter: hue-rotate(265deg);
  }

  50% {
    filter: drop-shadow(16px 16px 20px hsl(var(--j1), 96%, 51%))
      hue-rotate(265deg);
  }

  to {
    filter: hue-rotate(265deg);
  }
}

@keyframes agrandir-image {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

/* Style polaroid pour les images de la galerie WordPress */
.wp-block-image {
  border: 8px solid #fff; /* Bordure blanche */
  border-bottom-width: 49px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre */
  position: relative;
}

.wp-block-gallery.has-nested-images
  figure.wp-block-image
  figcaption.wp-element-caption {
  all: unset; /* Réinitialise tous les styles par défaut de wordpress de cet élément*/
  padding-bottom: 20px;
  position: absolute; /* Position absolue par rapport à l'image parente */
  left: 0; /* Aligner la légende à gauche */
  bottom: -40px; /* Positionner la légende dans la bordure inférieure */
  width: 100%; /* Largeur de la légende égale à celle de l'image */
  padding: 8px; /* Espacement intérieur de la légende */
  text-align: center; /* Alignement du texte au centre */
  font-size: 14px; /* Taille de police */
  color: #000000; /* Couleur du texte */
  box-sizing: border-box; /* Inclure les bordures et les rembourrages dans la largeur et la hauteur */
}
