* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Prompt", sans-serif;
}

.global {
  min-height: 40vh;
  display: flex;
  justify-content: center;
}

.global > section,
.global > header,
.global > footer {
  flex: 0 1 1100px;
  // border: 1px solid #aaa;
  padding: var(--centre-hauteur) var(--centre-largeur);
}

.global > header {
  flex-direction: 0 1 1000;
  flex: 1;
}

#entete,
#footer {
  min-height: 20vh;
}

#entete {
  background-color: var(--couleur-arriere-entete);
  color: var(--couleur-entete);
  position: relative;
  justify-content: start;
  min-height: 90vh;
}
/*Placement des icônes réseaux sociaux*/
.social {
  display: flex;
  gap: 30px;
  position: absolute;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
}

#accueil {
  background-color: var(--couleur-arriere-accueil);
  color: var(--couleur-accueil);
}
#evenement {
  background-color: var(--couleur-arriere-evenement);
  color: var(--couleur-evenement);
  z-index: 1;
}

#evenement blockquote {
  width: 50%;
  height: 250px;
  padding: 1.2rem;
  background-color: hsl(var(--u1), 100%, 15%);
  color: white;
  font-size: clamp(1rem, 0.583rem + 1.333vw, 1.5rem);
}
#evenement span {
  margin-top: 50px;
}

#galerie {
  background-color: var(--couleur-arriere-galerie);
  color: var(--couleur-galerie);
  position: relative;
  min-height: 90vh;
}

#footer {
  background-color: var(--couleur-arriere-footer);
  color: var(--couleur-footer);
}
