* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Prompt", sans-serif;
}

.global {
  display: flex;
  justify-content: center;
}

.global > section,
.global > header,
.global > footer {
  flex: 0 1 1100px;
  // border: 1px solid #aaa;
  padding: var(--centre-hauteur) var(--centre-largeur);
}

#erreur_404 {
  min-height: 100vh;
  background: linear-gradient(
    hsl(250, 100%, 64.77%),
    var(--couleur-arriere-accueil)
  );
}

#menu_entete {
  position: relative;
  // background-color: var(--couleur-arriere-menu);
}

.global > .hero {
  flex: 1;
}

#entete,
#footer {
  min-height: 20vh;
}

#entete {
  background-image: url("images/voyage-avion.png");
  background-size: cover;
  background-color: var(--couleur-arriere-entete);
  color: var(--couleur-entete);
  position: relative;
  justify-content: start;
  min-height: 90vh;
}
/*Placement des icônes réseaux sociaux - entête*/
.social {
  display: flex;
  gap: 30px;
  position: absolute;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
}

/*Placement des icônes réseaux sociaux - footer*/
.social-footer {
  display: flex;
  gap: 30px;
  position: absolute;
  left: 15px;
  margin-top: 15px;
  margin-right: 15px;
}

/* Aligner les éléments horizontalement */
.recherche-entete {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
}

/* Positionner l'icône de la loupe à gauche */
.search-icon {
  order: 1; /* Change l'ordre d'affichage */
}

.search-icon img {
  width: 32px;
  height: 32px;
}

/* Masquer le formulaire de recherche par défaut */
.search-form {
  display: none;
}

.search-form button {
  width: 30%;
  height: 30px;
  margin: 0;
  position: relative;
}
.search-form button img {
  position: absolute;
  top: 0;
  left: 6px;
}

#toggle-search-entete,
#toggle-search-footer {
  display: none;
}

/* Afficher le formulaire de recherche lorsque la case est cochée */
#toggle-search-entete:checked + label + .search-form,
#toggle-search-footer:checked + label + .search-form {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

/*Formulaire de recherche pour le footer*/
.recherche-footer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 5%;
  margin-top: 15px;
}

#accueil {
  background: linear-gradient(
    hsl(250, 100%, 64.77%),
    var(--couleur-arriere-accueil)
  );
  color: var(--couleur-accueil);
  position: relative; //Placer le box météo du single.php
}
#filtre {
  min-height: 50rem;
  background: linear-gradient(
    hsl(var(--u1), 100%, 75%),
    hsl(var(--u1), 100%, 64.77%),
    hsl(var(--u1), 100%, 75%)
  );
}
#evenement {
  background-color: var(--couleur-arriere-evenement);
  color: var(--couleur-evenement);
  z-index: 1;
  padding-top: 3rem;
}

#evenement span {
  margin-top: 50px;
}

#galerie {
  background-color: var(--couleur-arriere-galerie);
  color: var(--couleur-galerie);
  position: relative;
  min-height: 110vh;
  padding-top: 3rem;
  background: linear-gradient(
    hsl(250, 100%, 64.77%),
    var(--couleur-arriere-accueil)
  );
}

#page-destination {
  color: var(--couleur-galerie);
  position: relative;
  min-height: 110vh;
  padding-top: 3rem;
  background: linear-gradient(
    hsl(250, 100%, 64.77%),
    var(--couleur-arriere-accueil)
  );
}

#boite-recherche {
  position: relative;
  background: linear-gradient(
    hsl(250, 100%, 64.77%),
    var(--couleur-arriere-accueil)
  );
  min-height: 110vh;
  padding-top: 3rem;
}

#footer {
  background-color: var(--couleur-arriere-footer);
  color: var(--couleur-footer);
  min-height: 10vh;
}

.meteo {
  position: relative;
  text-align: center;
  padding: 1rem;
  width: 20rem;
  height: 10rem;
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  border-top: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
  line-height: 3.5rem;
}

.temp-min-max {
  /*Alignement du titre et de la boite météo en display flex*/
  @include flex($justify: center, $align: center);
}

.alignement-meteo {
  /*Alignement du titre et de la boite météo en display flex*/
  @include flex($direction: column, $justify: space-between, $align: center);
  @media (min-width: 700px) {
    @include flex($direction: row, $justify: space-between, $align: center);
  }
}

.soleil {
  position: absolute;
  left: 40px;
  width: 20%;
}
