:root {
  --couleur-arriere-entete: #ffa7a7;
  --couleur-arriere-accueil: #e267fd;
  --couleur-arriere-evenement: #049ec5;
  --couleur-arriere-galerie: #ff9129;
  --couleur-arriere-footer: #ff0000;

  /*Niveau de transparence des h*/
  --transparence-h1: 0.5;
  --transparence-h2: 0.4;
  --transparence-h2-evnt: 0.8;
  --transparence-h2-galerie: 0.8;
  --transparence-h2-footer: 0.5;

  /*Niveau de transparence des sections*/
  --transparence-section: 0.1;

  /*Largeur centrale*/
  --centre-largeur: 1rem;
  --centre-hauteur: 3rem;
}
