.destination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-top: 0.5rem;
}
.carte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 calc(900px / 4);
  border: 2px solid #65008e;
  min-height: 100%;
  background-color: var(--_couleur-arriere);
  padding: 1rem;
}

.carte h3 {
  text-align: center;
  padding: 0.05rem;
  font-size: clamp(1rem, 0.583rem + 1.333vw, 1.5rem);
}

.carte h4 {
  color: yellow;
  font-size: clamp(1rem, 0.75rem + 0.8vw, 1.25rem);
}

.carte p {
  background-color: var(--couleur-arriere-blockquote);
  color: white;
  text-align: center;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 2px;
}

.post-categories {
  //ul de la liste des catégories
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
