.destination,
.categorie-destination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-top: 0.5rem;
}
.carte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 calc(900px / 4);
  border: 2px solid #65008e;
  min-height: 100%;
  background-color: var(--_couleur-arriere);
  padding: 1rem;
  overflow: hidden;
  position: relative;
}

.carte h3 {
  text-align: center;
  padding: 0.05rem;
  font-size: clamp(1rem, 0.583rem + 1.333vw, 1.5rem);
}

.carte h4 {
  color: yellow;
  font-size: clamp(1rem, 0.75rem + 0.8vw, 1.25rem);
}

.carte p {
  background-color: var(--couleur-arriere-blockquote);
  color: white;
  text-align: center;
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 2px;
}

.carte a {
  margin-bottom: 30px;
}

.post-categories {
  //ul de la liste des catégories
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.post-categories li {
  background-color: #65008e;
  padding: 0.3rem;
}

.post-categories li a {
  text-decoration: none;
}

.avion {
  position: absolute;
  bottom: -100px;
  transform: translateX(-100%) scale(0.2) rotate(40deg);
  // transition: transform 0.5s ease; /* Transition fluide */
}

.carte:hover .avion {
  transform: translateX(200%);
  transition: transform 2s ease;
  transform: translateY(-200%) translateX(100%); /* Déplacement en haut */
}

.carte-avis-conteneur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  @media (min-width: 700px) {
    flex-direction: row;
    align-items: center;
  }
}

.carte-avis {
  width: 400px;
  height: 600px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  border-top: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
}

.carte-avis .contenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.carte-avis .contenu .photo {
  width: 200px;
  height: auto;
  margin: 0 auto;
  position: relative;
  clip-path: circle(39% at 50% 50%);
}

.carte-avis .contenu .photo::before {
  position: absolute;
}

.carte-avis .contenu .photo img {
  width: 100%;
  height: 100%;
}
