button {
  font-size: clamp(1.125rem, 0.5rem + 2vw, 1.875rem);
  padding: 12px 24px;
  // background-image: linear-gradient(120deg,var(--bouton-couleur1), var(--bouton-couleur2));
  background-image: linear-gradient(120deg, #9735e6, #51036d);
  margin-top: 35px;
}

button:hover {
  background-image: linear-gradient(120deg, #f8ff90, #eeff00);
  pointer-events: pointer;
  color: hsl(250, 92%, 52%);
}
