h1 {
  font-size: clamp(3.125rem, 0rem + 10vi, 5.625rem);
  font-weight: 600;
  letter-spacing: -3px;
  font-style: normal;
  font-family: "Protest Riot", sans-serif;
  text-shadow: var(--couleur-ombre-h1);
  color: var(--couleur-avant-entete);
}

h2 {
  font-size: clamp(1.5rem, 1.188rem + 1vw, 1.875rem);
  font-weight: 500;
  font-style: normal;
  text-shadow: var(--couleur-ombre-h2);
  font-family: "Protest Riot", sans-serif;
}
/*la classe premier-h2 a été créé pour permettre la grosseur de tous les h2 sans
celui de l'entête (le :first-of-type ne marche pas)*/
h2:not(.premier-h2)::first-letter {
  font-size: 5rem;
}
/* Spécification du h2 dans la page single.php*/
.article-voyage .carte h2 {
  color: hsl(60, 96%, 67%);
}
h3 {
  font-size: clamp(1rem, 0.583rem + 1.333vw, 1.5rem);
  font-weight: 400;
  font-style: normal;
  color: hsl(60, 96%, 67%);
}

h4 {
  font-size: clamp(0.75rem, -1.438rem + 7vw, 2.5rem);
  font-weight: 300;
  font-style: normal;
}

h5 {
  font-size: clamp(0.625rem, -0.938rem + 5vw, 1.875rem);
  font-weight: 200;
  font-style: normal;
}

h6 {
  font-size: clamp(0.5rem, -0.438rem + 3vw, 1.25rem);
  font-weight: 100;
  font-style: normal;
}

span {
  display: block;
}

p {
  font-style: italic;
}
