/*Variables saas*/
/*Palette de couleur*/
$--clr-mauve-pale: hsl(250, 100%, 70%);
$--clr-mauve-leger: hsl(250, 100%, 75%);
$--clr-mauve-moyen: hsl(250, 100%, 30%);
$--clr-mauve-fonce: hsl(250, 100%, 15%);

$--clr-orange-pale: hsl(40, 100%, 85%);
$--clr-orange-leger: hsl(40, 100%, 50%);
$--clr-orange-moyen: hsl(40, 100%, 30%);
$--clr-orange-fonce: hsl(40, 100%, 15%);

$--clr-rouge-pale: hsl(10, 100%, 85%);
$--clr-rouge-leger: hsl(10, 100%, 50%);
$--clr-rouge-moyen: hsl(10, 100%, 30%);
$--clr-rouge-fonce: hsl(10, 100%, 15%);

$--clr-jaune-pale: hsl(60, 100%, 85%);
$--clr-jaune-leger: hsl(60, 100%, 50%);
$--clr-jaune-moyen: hsl(60, 100%, 30%);
$--clr-jaune-fonce: hsl(60, 100%, 15%);

/*À partir de variables de couleurs de la palette choisie 
on créé un mapping en catégorisant les différentes couleurs
Ce map contient un map principal et plusieurs sous-map*/

$defaut: (
  primaire: (
    100: $--clr-mauve-pale,
    200: $--clr-mauve-leger,
    300: $--clr-mauve-moyen,
    400: $--clr-mauve-fonce,
  ),
  secondaire: (
    100: $--clr-orange-pale,
    200: $--clr-orange-leger,
    300: $--clr-orange-moyen,
    400: $--clr-orange-fonce,
  ),
  ternaire: (
    100: $--clr-rouge-pale,
    200: $--clr-rouge-leger,
    300: $--clr-rouge-moyen,
    400: $--clr-rouge-fonce,
  ),
  jaune: (
    100: $--clr-jaune-pale,
    200: $--clr-jaune-leger,
    300: $--clr-jaune-moyen,
    400: $--clr-jaune-fonce,
  ),
);

/*Agencement de couleur*/
$agencement-couleur: (
  primaire: (
    $--clr-mauve-pale,
    ($--clr-mauve-moyen, $--clr-mauve-leger),
  ),
  secondaire: (
    $--clr-orange-fonce,
    $--clr-orange-pale,
  ),
  ternaire: (
    $--clr-rouge-fonce,
    $--clr-rouge-pale,
  ),
  jaune: (
    $--clr-jaune-fonce,
    $--clr-jaune-pale,
  ),
);

:root {
  /*

  /*Largeur centrale à enlever !!!!*/
  --centre-largeur: 1rem;
  --centre-hauteur: 3rem;

  /*méthode avec fonction hsl*/

  /* Calcul des teintes */

  // --u1: 205; /*couleur initiale*/
  --u1: 250;

  --u2: calc(var(--u1) - 180); /*couleur complémentaire*/
  --u3: calc(var(--u2) - 30); /*couleur analogue gauche*/
  --u4: calc(var(--u2) + 30); /*couleur analogue droite*/

  /*La saturation*/
  --s-arriere: 85%;
  --s-avant: 84%;

  /*La luminosité*/
  --l-arriere: 40%;
  --l-avant: 54%;

  /*Couleur jaune*/
  --j1: 60;

  --couleur-arriere-entete: hsl(var(--u1), 100%, 70%);
  --couleur-arriere-accueil: hsl(var(--u1), 100%, 75%);
  // --couleur-arriere-evenement: hsl(var(--u1), 100%, 80%);
  // --couleur-arriere-galerie: hsl(var(--u1), 100%, 85%);
  --couleur-arriere-footer: hsl(var(--u1), 100%, 70%);

  --couleur-avant-entete: hsl(var(--u1), 100%, 30%);
  --couleur-avant-accueil: hsl(var(--u1), 100%, 25%);
  --couleur-avant-evenement: hsl(var(--u1), 100%, 20%);
  --couleur-avant-galerie: hsl(var(--u1), 100%, 15%);
  --couleur-avant-footer: hsl(var(--u1), 100%, 15%);

  /*Pour que la diagonle soit entièrement visible */
  --couleur-arriere-evenement: var(--couleur-arriere-accueil);
  --couleur-arriere-galerie: var(--couleur-arriere-accueil);

  --couleur-arriere-diagonale: hsl(var(--u2) 100%, 20%);

  /*Couleur de l'ombre*/
  --couleur-ombre-h1: 20px 12px hsl(var(--u1), 97.63% 61.67%);
  --couleur-ombre-h2: 5px 5px hsl(var(--u1), 97.63% 61.67%);

  /*Couleur de bouton*/
  --deg-gradient: 150deg;
  --couleur-gradient-1: hsl(273, 78%, 55%);
  --couleur-gradient-2: hsl(284, 95%, 22%);

  /*Les couleurs des liens*/
  --couleur-lien: hsl(var(--j1), 100%, 70%);
  --couleur-lien-hover: hsla(273, 100%, 81%, 0.949);
  --couleur-lien-visited: hsl(var(--j1), 40%, 70%);

  /*Couleur d'arrière-plan blockquote*/
  --couleur-arriere-blockquote: hsl(var(--u1), 100%, 15%);
}

/*Variables locales*/

#menu_entete {
  --couleur-arriere-menu: hsl(var(--u1), 74%, 57%);
  --couleur-lien-hover: hsl(var(--j1), 100%, 70%);
  --couleur-lien: hsl(var(--u1), 62%, 89%);
}

.carte {
  --_couleur-arriere: hsl(var(--u1), 100%, 15%);
  --_couleur-bouton-categorie: hsl(283, 100%, 28%);
}

#entete {
  --_couleur-arriere-vague: --couleur-arriere-accueil;
}

#galerie {
  --_couleur-arriere-vague: --couleur-arriere-footer;
}
